# https://github.com/marketplace/actions/go-release-binaries
on:
  release:
    types: [created]

jobs:
  release-linux-amd64:
    name: release linux/amd64
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux,windows, darwin]
        goarch: [amd64, arm64]
        exclude:
          - goarch: arm64
            goos: windows
    steps:
    - uses: actions/checkout@v6
    - name: debug
      run: |
        ls -la
    - uses: wangyoucao577/go-release-action@v1.55
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        binary_name: overlaytest
        retry: 10
        md5sum: false
        sha256sum: true
        overwrite: true
        pre_command: go mod tidy
        project_path: ./cmd/overlaytest
        ldflags: -s -w -X github.com/eumel8/overlaytest/pkg/overlaytest.Version=${{ github.ref_name }}
